<div class="body">
    <section class="bg-image">
        <div class="container">
            <div class="mask d-flex align-items-center h-100 ">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card bg-dark" style="border-radius: 15px; color: white !important;">
                                <div class="card-body p-5">
                                    <h2 class="text-uppercase text-center mb-5">Create an account</h2>
    
                                    <form>
    
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example1cg">Nombre</label>
                                            <input type="text" id="form3Example1cg" placeholder="ingrese su nombre"
                                                class="form-control form-control-lg" />
                                        </div>
    
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example3cg">Email</label>
                                            <input type="email" id="form3Example3cg" placeholder="ingrese su email"
                                                class="form-control form-control-lg" />
                                        </div>
    
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example4cg">Password</label>
                                            <input type="password" id="form3Example4cg" class="form-control form-control-lg"
                                                placeholder="ingrese su contraseña" />
                                        </div>
    
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="form3Example4cdg">Repita su password</label>
                                            <input type="password" id="form3Example4cdg"
                                                placeholder="reingrese su contraseña"
                                                class="form-control form-control-lg" />
                                        </div>
    
                                        <div class="form-check d-flex justify-content-center mb-5">
                                            <input class="form-check-input me-2" type="checkbox" value=""
                                                id="form2Example3cg" />
                                            <label class="form-check-label" for="form2Example3g">
                                                I agree all statements in <a href="#!"><u>Terms of
                                                        service</u></a>
                                            </label>
                                        </div>
    
                                        <div class="d-flex justify-content-center">
                                            <button type="button"
                                                class="btn btn-primary btn-block btn-lg w-50">Registrarse</button>
                                        </div>
    
                                        <p class="text-center mt-5 mb-0">Tiene una Cuenta? <a routerLink="/login"
                                                class="fw-bold "><u>Ir a Login</u></a></p>
    
                                    </form>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>