<div class="background-profile">
    <div>

        <img src="../../../assets/img/material/fondo-perfil.jpg" width="100%" height="100%">

    </div>

    <div class="container text-left">
        <div class="row">

            <div class="col-md-4" align="center">
                <div class="profile">
                    <div>

                        <div class="img-perfil">
                            <img src="../../../assets/img/material/foto-perfil.jpg" alt="" width="120%" height="120%"
                                class="profile-picture">
                        </div>
                    </div>

                    <div>
                        <div class="info" align="center">
                            <p class="developer focus-in-contract">{{dataLocal.titulo}}</p>
                            <p class="userName focus-in-contract">{{dataLocal.apellido}} {{dataLocal.nombre}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="about-profile focus-in-contract">
                    <div>

                        <h3 style="font-weight: bold;">Sobre Mí</h3>
                        <p>
                            {{dataLocal.sobreMi}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

